[Unit]
Description=Discord Bot EFT V2 Process
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/discord-bot-eft-v2-env
WorkingDirectory=/home/sai11121209
ExecStart=/home/sai11121209/envs/discord-bot-eft-v2/bin/python /home/sai11121209/Discord-EFT-V2-Bot/src/main.py
Restart=no
CPUShares=128
CPUQuota=30%

[Install]
WantedBy=multi-user.target